footer
    //- DIV DAD 3 SECTION
    .sec-all
        //- section 1
        .blog
            h2 last from the blog
            article
                div
                    img(src="img/vac-a.jpg", alt="")
                div
                    h3 Lorem ipsum dolor
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, corporis placeat quos rem blanditiis quod ullam!
            article
                div
                    img(src="img/vac-a.jpg", alt="")
                div
                    h3 Lorem ipsum dolor
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, corporis placeat quos rem blanditiis quod ullam! 
        //- section 2
        .com-det
            h2 company details
            ul
                li commpany name
                li street name - number town
                li postcode / zip
                li tel: 012345678910
                li fax: 022-5827-58
                li email:#[a(href='#') ahmed20029@gmail.com]
            h3 office hours
            p monday - friday: 08:00 - 17:30 #[br] saturday: 08:00 - 13:00
        //- section 3
        .contact
            h2 contact us
            form(action="")
                input(type="text" name="" placeholder='name')
                input(type="email" name="" placeholder='email')
                input(type="text" name="" placeholder='message')
                input(type="submit" value="submit")
    //- roule 
    .hr
    //- copyright
    .copyright
        p copyright &copy; 2020 all rigth reserved - domain name
        p design by ahmed hassan #[i(class='fa fa-heart')]

        
