nav
    div
        h1 composition
        p free psd website template
    ul
        li
            a(href='#') home page
        li
            a(href='#') style demo
        li
            a(href='#') full width
        li
            a(href='#') dropdown
        li
            a(href='#') link text
div.hr