include index/_mixien
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document sass
        link(rel="stylesheet", href="css/all.min.css")
        link(rel='stylesheet' href='css/homepage.css')
    body
        //- start nav
        include index/_nav
        //- start section slider
        div.demo
            p "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex eum veritatis porro officiis dolor. Quas modi, eius rem dolor incidunt omnis atque voluptas quia? Est tenetur saepe sequi hic quo."
            .slider
                img(src="img/slider.jpg", alt="", srcset="")
                ul
                    - for (var i = 0; i <= 3; i++)
                      li
        //- start section services
        .services
            +heading('our services')
            .artciles
                div
                    i(class='fab fa-artstation')
                    h2 indonectetus facilis
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quam sint architecto consectetur rem veritatis fugiat?
                    a(href='#') read more
                div
                    i(class='fas fa-cogs')
                    h2 indonectetus facilis
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quam sint architecto consectetur rem veritatis fugiat?
                    a(href='#') read more
                div
                    i(class='fas fa-users')
                    h2 indonectetus facilis
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quam sint architecto consectetur rem veritatis fugiat?
                    a(href='#') read more
        //- start section our team
        .team
            +heading('our team')
            .players
                div
                    img(src="img/vac-a.jpg", alt="")
                    p name:#[span jone don]
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, mollitia fuga molestiae itaque nostrum repellendus animi.
                    a(href='#') view profile
                div
                    img(src="img/vac-b.jpg", alt="")
                    p name:#[span jone don]
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, mollitia fuga molestiae itaque nostrum repellendus animi.
                    a(href='#') view profile
                div
                    img(src="img/vac-c.jpg", alt="")
                    p name:#[span jone don]
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, mollitia fuga molestiae itaque nostrum repellendus animi.
                    a(href='#') view profile
        //- start section gallery 
        .gallery
            +heading('business gallery')
            .gall-img
                div
                    img(src="img/war-a.jpg", alt="")
                div
                    img(src="img/war-b.jpg", alt="")
                div
                    img(src="img/war-c.jpg", alt="")
        //- start footer
        include index/_footer
        //- start script
        script(src='js/jquery-3.5.0.min.js')
        script(src='js/min.js')
    
        
