include index/_mixien
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document sass
        link(rel="stylesheet", href="css/all.min.css")
        link(rel='stylesheet' href='css/homepage.css')
    body
        //- start nav
        include index/_nav
        //- end nav
        //- start section slider
        div.demo
            p "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex eum veritatis porro officiis dolor. Quas modi, eius rem dolor incidunt omnis atque voluptas quia? Est tenetur saepe sequi hic quo."
            .slider
                img(src="img/slider.jpg", alt="", srcset="")
                ul
                    - for (var i = 0; i <= 3; i++)
                      li
        //- end section slider
        //- start section services
        .services
            +heading('our services')
            .artciles
                div
                    
                    h2 indonectetus facilis
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quam sint architecto consectetur rem veritatis fugiat?
                    a(href='#') read more
                div
                    h2 indonectetus facilis
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quam sint architecto consectetur rem veritatis fugiat?
                    a(href='#') read more
                div
                    h2 indonectetus facilis
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quam sint architecto consectetur rem veritatis fugiat?
                    a(href='#') read more

        
