// media query
@mixin screenMob {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin screenMudiam {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin screenSmall {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin screenLarg {
    @media (min-width: 1200px) {
        @content;
    }
}

// overlaye
@mixin overlaye {
    position: absolute;
    width: 100%;
    height: 100%;
}

// prefixe
@mixin prefixer($prop, $val, $prefix: ()) {
    @each $prefixs in $prefix {
        #{'-' + $prefixs + '-' + $prop}: $val;
    }

    #{$prop} : $val;
}

// anmition
@mixin amit($keys) {
    @-webkit-keyframes #{$keys} {
        @content;
    } 
    @-moz-keyframes #{$keys} {
        @content;
    }
    @keyframes #{$keys} {
        @content;
    }
}