/* file grid
    this is style box sizing end container
*/
* {
    box-sizing: border-box;
}
%container {
    width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
%listUnStyled {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
/* this style (our services & our team & ...)*/
%styleHead {
    text-align: center;
    margin-top: 50px !important;
    position: relative;
}
%styleBefore {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $childColor;
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
}
%styleH1 {
     margin: 0;
     background-color: $minColor;
     color: $whiteColor;
     display: inline-block;
     padding: 10px 100px;
     border-radius: 15px;
}