/*
    this style file globalpage
*/
@font-face {
    src: url(../../../font/Lato.ttf);
    font-family: 'Lato';
}
body {
    font-family: 'Lato';
    text-transform: $textTransform;
    margin: 0;
    padding: 0;
    height: 2500px;
}