/*start section slider*/
.demo {
    @extend %container;
    p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
        font-weight: bold;
        line-height: 2;
    }
    .slider {
        img {
            min-width: 100%;
            height: 500px;
        }
        ul {
            @extend %listUnStyled;
            justify-content: center;
            li {
                width: 20px;
                height: 20px;
                background-color: $childColor;
                margin: 10px;
                border-radius: 50%;
                &:hover {
                    border: 2px solid $minColor;
                    background-color: transparent;
                }
            }
        }
    }
}

/*start section services*/
.services {
    @extend %container;

    .headingStyle {
        @extend %styleHead;

        &::before {
            @extend %styleBefore;
        }

        h1 {
            @extend %styleH1;
        }
    }
    .artciles {
        display: flex;
        margin-top: 50px;
        div {
            i {
                font-size: 30px;
                margin-right: 15px;
            }
            h2 {
                display: inline-block;
                margin-bottom: 0;
            }
            p {
                color: $childColor;
            }
            a {
                color: $minColor;
                text-decoration: none;
            }
        }
    }
}

/*start section our team*/
.team {
    @extend %container;
    .headingStyle {
        @extend %styleHead;
        &::before {
            @extend %styleBefore;
        }
        h1 {
         @extend %styleH1;
        }
    }
    .players {
        display: flex;
        margin-top: 50px;
        div {
            p:nth-of-type(1) {
                color: $childColor;
                font-weight: bold;
                span {
                    font-weight: normal;
                    margin-left: 5px;
                }
            }
            p:nth-of-type(2) {
                color: $childColor;
            }
            a {
                color: $minColor;
                text-decoration: none;
            }
        }
    }
}
/*start section gallery*/
.gallery {
    @extend %container;
    .headingStyle {
        @extend %styleHead;

        &::before {
            @extend %styleBefore;
        }

        h1 {
            @extend %styleH1;
        }
    }
    .gall-img {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
}