/*start section slider*/
.demo {
    @extend %container;
    p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
        font-weight: bold;
        line-height: 2;
    }
    .slider {
        img {
            min-width: 100%;
            height: 500px;
        }
        ul {
            @extend %listUnStyled;
            justify-content: center;
            li {
                width: 20px;
                height: 20px;
                background-color: $childColor;
                margin: 10px;
                border-radius: 50%;
                &:hover {
                    border: 2px solid $minColor;
                    background-color: transparent;
                }
            }
        }
    }
}

/*end  section slider*/
/*start section services*/
.headingStyle {
    text-align: center;
    margin-top: 50px !important;
    position: relative;
    @extend %container;

    &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $childColor;
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
    }

    h1 {
        margin: 0;
        background-color: $minColor;
        color: $whiteColor;
        display: inline-block;
        padding: 10px 100px;
        border-radius: 15px;
    }
}

/*end section services*/